.witwContainer {
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  overflow-y: scroll;

  &:not(.dark) {
    color: var(--light-mode-text);
    background-color: var(--light-mode-background);
  }

  &.dark {
    color: var(--dark-mode-text);
    background-color: var(--dark-mode-background);
  }
}
