.chevronIcon {
  width: 20px;
  height: 20px;

  &:not(.dark) {
    background: no-repeat center url(~_images/icons/chevron-icon.svg);
  }

  &.dark {
    background: no-repeat center url(~_images/icons/chevron-icon-dark.svg);
  }
}
